<div class="top-menu">
    <span class="menu"> </span>
   <ul class="nav navbar-nav">
       <li><a class="active" href="index.html">Inicio <span class="sr-only">(current)</span></a></li>
       <li><a href="about.html">Nuestro Equipo</a></li>
       <li><a href="trainers.html">Entrenadores</a></li>
       <!-- <li><a href="404.html">Support</a></li> -->
       <li><a href="gallery.html">Galeria</a></li>
       <li><a href="contact.html">Contacto</a></li>
       <div class="clearfix"> </div>
     </ul>
</div>